<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'accounts:dashboard' %}">پنل کاربری</a>
            <a class="navbar-brand" href="{% url 'accounts:user_edit' %}">ویرایش مشخصات</a>
            <a class="navbar-brand" href="{% url 'accounts:user_change_password' %}">تغییر رمز عبور</a>
            <a class="navbar-brand" href="{% url 'accounts:login' %}">ورود</a>
            <a class="navbar-brand" href="{% url 'accounts:register' %}">ثبت نام</a>
            <a class="navbar-brand" href="{% url 'accounts:logout' %}">خروج</a>
        </div>
  </nav>